{{#if isAuthenticated }}
  <section class="skin-dark fixed app-header" role="region">
    <header id="app-header">
      <div class="pure-g">
      
      <!-- Firegraph header -->
        <div class="pure-u-3-5">
          <a class="plain" data-icon="menu" {{action 'toggleSidebar'}} data-toggles-sidebar></a>
          <h1>Firegraph</h1>
        </div>

        <!-- Refresh button and profile picture -->
        <div class="pure-u-2-5">
          <div class="header-profile-picture-container">
            <a class="plain" data-icon="repeat" {{action 'loadNewestMedia'}}></a>
            <img class="header-profile-picture" src={{user.profile_picture}}>
          </div>
        </div>

      </div>
    </header>
  </section>
{{/if}}

