<div class="pure-g">
  <div class="pure-u-1">
    <div class="user-feed-media">

      {{#if media.images}}
        <img class="ez-responsive" src={{media.images.standard_resolution.url}}>
      {{/if}}

      {{#if media.caption}}
        <h2 class="caption zero-margin">{{media.caption.text}}</h2>
      {{/if}}

      <div class="rhs-bottom-container text-right-aligned">
        <span class="label">
          <i class="fa fa-user text-peter-river"></i>
          <strong>{{media.caption.from.username}}</strong>
        </span>

        <span class="label">
          <i class="fa fa-heart text-alizarin"></i>
          {{media.likes.count}}
        </span>
      </div>

    </div>
  </div>
</div>
