<div class="pure-g user-feed-container">
  <div class="pure-u-1-24"></div>
  <div class="pure-u-11-12">
    {{#each feed as |media|}}
      {{#user-feed-media media=media}}{{/user-feed-media}}
    {{/each}}

    <button {{action 'loadMoreMedia'}} id="btnLoadMoreMedia" class="pure-button pure-button-primary button-xlarge full-width">
      <i class="fa fa-cloud"></i> Load older images...
    </button>

  </div>
  <div class="pure-u-1-24"></div>
</div>
