body {
  overflow-y: scroll;
}

/* Fix emojis (also need to out-specify gaia styles) */
*, body { font-family: FiraSans,FirefoxEmoji }

#app-header {
 position: fixed;
 width: 100%;
}

.lhs-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: scroll;
  background: url("/assets/images/patterns/sidebar-pattern.png") repeat scroll 0% 0% transparent;
  width: 70%;
  min-height: 100%;
  color: white;
}

.lhs-sidebar .lhs-menu-item {
  padding: .5em;
  border-bottom: solid 1px rgba(170,170,170,0.5);
}

.lhs-sidebar .lhs-menu-item > i {
  float: right;
}

.ember-app {
  height: 100%;
}

.application-container {
  height: 100%;
  position: relative;
}

.application-content-container {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: margin-left .5s;
}

.application-content-container.show-sidebar {
  margin-left: 70%;
}

a.plain {
  color: inherit !important; /** header styling is very specific */
  text-decoration: none;
}

header div.header-profile-picture-container {
  text-align: right;
  /** Lazy styling to get the buttons and image on the right */
  display: inline-block;
  float: right;
}

header img.header-profile-picture {
  margin-top: .5rem;
  height: 4rem;
  margin-right: .5rem;
}

section.app-header {
  height: auto;
}

#login-container {
  background: url("/assets/images/backgrounds/blurred-city-bg-clipped.jpeg") repeat scroll 0% 0% transparent;
  color: white;
  height: 100%;
}

.login-top-padding { height: 10%; }

.login-content-container {
  padding: 1em;
}

.login-content-container h1.title {
  text-shadow: 1px 1px 3px black;
  font-weight: bold;
}

.login-content-container h2.blurb {
  text-shadow: 1px 1px 2px black;
}

span.label {
  background-color: #444;
  color: white;
  border-radius: .5em;
  padding: .5em;
  line-height: 2em;
  margin-left: .25em;
  margin-right: .25em;
}

img.ez-responsive {
  max-width: 100%;
  height: auto;
}

/*****************************/
/* user-feed-media component */
/*****************************/

div.user-feed-container {
  padding-top: 6rem;
  background-color: #444;
}

/*****************************/
/* user-feed-media component */
/*****************************/

div.user-feed-media {
  box-shadow: 1px 4px 4px #222;
  margin-bottom: 2em;
}

div.user-feed-media div.rhs-bottom-container {
  background-color: #222;
  color: white;
  padding: 1em;
}

div.user-feed-media h2.caption {
  background-color: #333;
  color: white;
  padding: .4em;
}

#btnLoadMoreMedia {
  color: white;
  margin-bottom: 1em;
}

/*******************/
/* Utility classes */
/*******************/

.full-width { width: 100%; }
.zero-margin { margin: 0; }
.text-centered { text-align: center; }
.text-right-aligned { text-align: right; }

/**********************/
/* Pure CSS Overrides */
/**********************/

.button-xsmall { font-size: 90%; }
.button-small { font-size: 115%; }
.button-large { font-size: 130%; }
.button-xlarge { font-size: 145%; }

.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
  background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
  background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
}

.button-insta {
  color: white;
  background-image: -moz-linear-gradient(center top , #6F97B6, #3F729B); /* Instagram gradient */
}

/*****************************************/
/* FlatUIColors (http://flatuicolors.com */
/*****************************************/

.text-alizarin { color: #e74c3c; }
.bg-alizarin { background-color: #e74c3c; }
.text-peter-river { color: #3498db; }
.bg-peter-river { background-color: #3498db; }

/* Firefox Emoji Font */
@font-face {
  font-family: "FirefoxEmoji";
  src: url('/assets/fonts/FirefoxEmoji.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
