<section class="lhs-sidebar">
  <ul class="lhs-menu">
    <li class="lhs-menu-item" {{action 'closeSidebarThenTransition' 'index'}}>
      Feed
      <i class="fa fa-home"></i>
    </li>
    <li class="lhs-menu-item" {{action 'logout'}}>
      Logout
      <i class="fa fa-sign-out"></i>
    </li>
  </ul>
</section>

{{#view "rhs-content"}}
  <section class="application-content-container {{sidebarClass}}">
    {{#top-nav isAuthenticated=model.isAuthenticated user=model.user}}{{/top-nav}}
    {{#user-feed feed=model.userFeed}}{{/user-feed}}
  </section>
{{/view}}
