<div id="login-container">
  <div class="login-top-padding"></div>
  <div class="pure-g">
    <div class="pure-u-1-5"></div>
    <div class="pure-u-3-5">
      <div class="pure-g">
        <div class="pure-u-1">
          <div class="login-content-container">

            <div class="pure-u-g">
              <div class="pure-u-1-5"></div>
              <div class="pure-u-3-5">
                <img class="ez-responsive" src="assets/images/icons/firegraph-logo.512px.png">
              </div>
              <div class="pure-u-1-5"></div>
            </div>

            <div class="pure-u-g">
              <div class="pure-u-1" class="text-centered">
                <h1 class="title">Firegraph</h1>
                <h2 class="blurb">An Instagram&trade; client built for FirefoxOS</h2>
              </div>
            </div>

            <div class="pure-u-g">
              <div class="pure-u-1">
                <a class="pure-button button-xlarge pure-button-primary button-insta full-width"
                   href="{{loginUrl}}">
                  <i class="fa fa-instagram"></i> Instagram Login
                </a>
              </div>
            </div>

          </div> <!-- /.login-content-container -->
        </div>
      </div>
    </div>
    <div class="pure-u-1-5"></div>
  </div>
</div>
